<% if current_user %>
<ul class="dropdown menu" data-dropdown-menu>
  <li class="<%= link_classes(root_path) %>"><%= link_to 'Home', root_path %></li>
  <li class="<%= link_classes(posts_path) %>"><%= link_to 'Posts', posts_path %></li>
  <li class="<%= link_classes(new_post_path) %>"><%= link_to 'Add Posts', new_post_path %></li>
  <li>
    <a href="#">Account</a>
    <ul class="menu">
      <% if current_user.try(:type) == 'AdminUser' %>
        <li><%= link_to 'Admin Dashboard', admin_root_path %></li>
      <% end %>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </li>
</ul>
<% end %>
