<div class="row centered">
  <div class="medium-8 small-centered columns">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'columns') do |f| %>
        <div class="field columns">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field columns">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field columns">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions columns">
          <%= f.submit "Log in", class: 'button expanded' %>
        </div>
      <% end %>
      <div class="actions columns">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
