<tr>
  <th><%= post.id %></th>
  <th><%= post.date %></th>
  <th><%= post.rationale %></th>
  <th><%= post.user.full_name %></th>
  <th><%= post.status %></th>
  <td>
    <%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
  </td>
  <td>
    <%= link_to 'Delete', post_path(post), method: :delete, id: "delete_post_#{post.id}_from_index", data: { confirm: 'Are you sure?' } %>
  	</td>
  </tr>
</tr>
