<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Overtime" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class='row'>
    <%= render 'shared/menu' %>
    <%= yield %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Overtime nortification!", :sticky => true, time: 3000) %>
  </body>
</html>
